@font-face {
	font-family: 'FiraSans';
	src: local('FiraSans'), url(./fonts/FiraSans-Regular.ttf) format('truetype');
}

//=============mixins====================

@mixin displayList {
	border: solid 1px #555;
	margin: 1rem 0;
	padding: 1rem 0.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	transition: all 150ms ease-in-out;
}
//========GENERAL RULES=========

* {
	margin: 0;
	padding: 0;
	text-align: center;
}

li {
	list-style-type: none;
}

input {
	width: 100%;
	padding: 1rem 2rem;
	margin: 0.75rem 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 1.2rem;
}

body {
	background: #fefefe;
	font-family: 'FiraSans';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button {
	display: inline-block;
	border: none;
	font-size: 1.2rem;
	padding: 0.25rem 1rem;
	margin: 0;
	text-decoration: none;
	background: #333;
	color: #fefefe;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}

button:hover,
button:focus {
	background: #0053ba;
}

button:focus {
	outline: 1px solid #fff;
	outline-offset: -4px;
}

button:active {
	transform: scale(0.99);
}

.main-navbar {
	background: rgb(0, 153, 255);
	color: #fefefe;
	margin-bottom: 3rem;

	#welcome-title {
		padding-top: 1rem;
	}
	.main-menu {
		font-size: 1.2rem;
		ul {
			display: flex;
			justify-content: flex-end;
			padding-right: 2rem;
			li {
				display: block;
				padding: 0.25rem 0.5rem;
				a {
					text-decoration: none;
					color: #fefefe;
				}
			}
		}
	}
}

h2.page-title {
	font-size: 2rem;
	margin-bottom: 3.5rem;
}

#user-profile {
	.user-data {
		border: dashed 1px #333;
		border-radius: 5px;
		padding: 2rem 0;
		h3 {
			margin-bottom: 2rem;
		}
		#password-change {
			border-top: dashed 1px #333;
			margin-top: 2rem;
			padding-top: 2rem;
			display: flex;
			flex-direction: column;
		}
	}
	.user-stats {
		padding-top: 2rem;
		h3 {
			font-size: 1.3rem;
		}
	}
}

div.quiz-slider-div {
	padding-top: 4rem;
	font-size: 1.3rem;
	.quiz-question {
		margin-bottom: 2rem;
	}
	.quiz-answer {
		margin: 1rem 0;
	}
}

//admin dashboard
#admin-dashboard {
	font-size: 1.2rem;
	::-webkit-scrollbar {
		width: 10px;
		border-radius: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
		border-radius: 5px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #999;
		border-radius: 5px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	ul {
		max-height: 40rem;
		overflow: scroll;
		padding-right: 1rem;

		li {
			@include displayList();
			label {
				margin: 0.25rem 0.5rem;
				&:nth-child(1) {
					flex-grow: 1;
					text-align: left;
				}
			}
			button {
				background: #0053ba;
				margin: 0 0.2rem;
			}

			&:hover {
				box-shadow: 0 0 6px rgba(35, 173, 255, 1);
			}
		}
	}
}

#home-page {
	li {
		@include displayList();
		a {
			display: block;
			margin: 0 auto;
			text-decoration: none;
			color: #333;
			font-size: 1.2rem;
		}
	}
}
