@font-face {
	font-family: 'FiraSans';
	src: local('FiraSans'), url(./fonts/FiraSans-Regular.ttf) format('truetype');
}

* {
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	font-family: 'FiraSans';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//admin dashboard

#admin-dashboard {
	li {
		border: solid 1px #777;
		// temporary
		label {
			margin: 0.25rem 0.5rem;
		}
	}
}
